---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [183]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [184]:
pd.options.display.float_format = '{:.3f}'.format # suppress scientific notation

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [185]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [186]:
# load City_Zhvi_AllHomes.csv
median_home_sales_price = pd.read_csv('City_Zhvi_AllHomes.csv')

# map the state name based on the abbreviation
median_home_sales_price['StateName'] = median_home_sales_price['State'].map(states)
median_home_sales_price['StateName'].value_counts()

# keep period from Q1/2000 to Q3/2016
columns_to_keep = list(range(1,2)) + list(range(51, len(median_home_sales_price.columns)))
median_home_sales_price = median_home_sales_price.iloc[:, columns_to_keep]

median_home_sales_price.head()
# median_home_sales_price.info() # (10730, 252)

,RegionName,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,...,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,StateName
0,New York,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,576200,578400,582200,588000,592200,592500,590200,588000,586400,New York
1,Los Angeles,204400.000,207000.000,209800.000,212300.000,214500.000,216600.000,219000.000,221100.000,222800.000,...,560800,562800,565600,569700,574000,577800,580600,583000,585100,California
2,Chicago,136800.000,138300.000,140100.000,141900.000,143700.000,145300.000,146700.000,147900.000,149000.000,...,206900,206200,205800,206200,207300,208200,209100,211000,213000,Illinois
3,Philadelphia,52700.000,53100.000,53200.000,53400.000,53700.000,53800.000,53800.000,54100.000,54500.000,...,121600,121800,123300,125200,126400,127000,127400,128300,129100,Pennsylvania
4,Phoenix,111000.000,111700.000,112800.000,113700.000,114300.000,115100.000,115600.000,115900.000,116500.000,...,185300,186600,188000,189100,190200,191300,192800,194500,195900,Arizona

In [187]:
# load university_towns.txt
university_towns = pd.read_csv('university_towns.txt',
                               header = None,
                               delimiter = "\n",
                               usecols = [0],
                               names = ['RegionName'])

# country cleanup
university_towns.insert(0, 'State', university_towns['RegionName'].str.extract('(.*)\[edit\]', expand=False).ffill())
university_towns['RegionName'] = university_towns['RegionName'].str.replace(r' \(.+$', '')
university_towns = university_towns[~university_towns['RegionName'].str.contains('\[edit\]')].reset_index(drop=True)

university_towns.head()
# university_towns.info() # (517, 2)

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [189]:
# load gdplev.xls
gdp_data = pd.read_excel('gdplev.xls',
                         skiprows = 7,
                         usecols = [4,5,6],
                         names = ['Period', 'GDP_USD_current', 'GDP_USD_chained'])

# subsetting to period of Q1 2000 onward
gdp_data = gdp_data[gdp_data['Period'] >= '2000q1']

# set the index to period
gdp_data = gdp_data.set_index('Period')

gdp_data.head()
# gdp_data.info() # (65,3)

        GDP_USD_current  GDP_USD_chained
Period
2000q1        10031.000        12359.100
2000q2        10278.300        12592.500
2000q3        10357.400        12607.700
2000q4        10472.300        12679.300
2001q1        10508.100        12643.300

In [192]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    return university_towns

# get_list_of_university_towns()
# type(get_list_of_university_towns())
# pandas.core.frame.DataFrame

In [193]:
# find out the starting and ending period of recession
recession_start = list()
recession_end = list()
qtr_before_recession = list()
recession = False

for i in range(1, len(gdp_data)-1):
    if recession == False and (gdp_data['GDP_USD_chained'].iloc[i-1] > gdp_data['GDP_USD_chained'].iloc[i] > gdp_data['GDP_USD_chained'].iloc[i+1]):
        recession = True
        recession_start.append(gdp_data.index[i])
        qtr_before_recession.append(gdp_data.index[i-1])
    elif recession ==  True and (gdp_data['GDP_USD_chained'].iloc[i-1] < gdp_data['GDP_USD_chained'].iloc[i] < gdp_data['GDP_USD_chained'].iloc[i+1]):
        recession = False
        recession_end.append(gdp_data.index[i+1])

print('Starting period of recession:', recession_start[0])
print('Ending period of recession:', recession_end[0])
print('Quarter before recession starts:', qtr_before_recession[0])

Starting period of recession: 2008q3
Ending period of recession: 2009q4
Quarter before recession starts: 2008q2

In [196]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return recession_start[0]

# get_recession_start() # '2008q3'
# type(get_recession_start())

str

In [200]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return recession_end[0]

# get_recession_end() # '2009q4'
# type(get_recession_end())

str

In [203]:
# subset to recession period only
gdp_data_recession = gdp_data[(gdp_data.index.values >= recession_start[0]) & (gdp_data.index.values <= recession_end[0])]
recession_bottom = gdp_data_recession['GDP_USD_chained'].idxmin()

def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return recession_bottom

# get_recession_bottom() # '2009q2'
# type(get_recession_bottom())

str

In [209]:
# group the columns to quarters and calculate the mean values
median_home_sales_price_indexed = median_home_sales_price.set_index(['StateName', 'RegionName'])
median_home_sales_price_indexed.index.names = (['State', 'RegionName'])

housing_data_to_quarters = (median_home_sales_price_indexed
                            .groupby(pd.PeriodIndex(median_home_sales_price_indexed.columns, freq='Q'), axis=1)
                            .mean()
                            .rename(columns=lambda c: str(c).lower()))

housing_data_to_quarters.head()
# housing_data_to_quarters.shape # (10730, 67)

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,515466.667,522800.000,528066.667,532266.667,540800.000,557200.000,572833.333,582866.667,591633.333,587200.000
California,Los Angeles,207066.667,214466.667,220966.667,226166.667,233000.000,239100.000,245066.667,253033.333,261966.667,272700.000,...,498033.333,509066.667,518866.667,528800.000,538166.667,547266.667,557733.333,566033.333,577466.667,584050.000
Illinois,Chicago,138400.000,143633.333,147866.667,152133.333,156933.333,161800.000,166400.000,170433.333,175500.000,177566.667,...,192633.333,195766.667,201266.667,201066.667,206033.333,208300.000,207900.000,206066.667,208200.000,212000.000
Pennsylvania,Philadelphia,53000.000,53633.333,54133.333,54700.000,55333.333,55533.333,56266.667,57533.333,59133.333,60733.333,...,113733.333,115300.000,115666.667,116200.000,117966.667,121233.333,122200.000,123433.333,126933.333,128700.000
Arizona,Phoenix,111833.333,114366.667,116000.000,117400.000,119600.000,121566.667,122700.000,124300.000,126533.333,128366.667,...,164266.667,165366.667,168500.000,171533.333,174166.667,179066.667,183833.333,187900.000,191433.333,195200.000

In [210]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return housing_data_to_quarters

# convert_housing_data_to_quarters()
# type(convert_housing_data_to_quarters())
# convert_housing_data_to_quarters().shape # (10730, 67)

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,515466.667,522800.000,528066.667,532266.667,540800.000,557200.000,572833.333,582866.667,591633.333,587200.000
California,Los Angeles,207066.667,214466.667,220966.667,226166.667,233000.000,239100.000,245066.667,253033.333,261966.667,272700.000,...,498033.333,509066.667,518866.667,528800.000,538166.667,547266.667,557733.333,566033.333,577466.667,584050.000
Illinois,Chicago,138400.000,143633.333,147866.667,152133.333,156933.333,161800.000,166400.000,170433.333,175500.000,177566.667,...,192633.333,195766.667,201266.667,201066.667,206033.333,208300.000,207900.000,206066.667,208200.000,212000.000
Pennsylvania,Philadelphia,53000.000,53633.333,54133.333,54700.000,55333.333,55533.333,56266.667,57533.333,59133.333,60733.333,...,113733.333,115300.000,115666.667,116200.000,117966.667,121233.333,122200.000,123433.333,126933.333,128700.000
Arizona,Phoenix,111833.333,114366.667,116000.000,117400.000,119600.000,121566.667,122700.000,124300.000,126533.333,128366.667,...,164266.667,165366.667,168500.000,171533.333,174166.667,179066.667,183833.333,187900.000,191433.333,195200.000
Nevada,Las Vegas,132600.000,134366.667,135400.000,137000.000,139533.333,141733.333,143366.667,146133.333,149333.333,150933.333,...,170066.667,173400.000,175466.667,177500.000,181600.000,186766.667,190633.333,194600.000,197200.000,199950.000
California,San Diego,222900.000,234366.667,245433.333,256033.333,267200.000,276266.667,284500.000,291933.333,301233.333,312866.667,...,480200.000,489033.333,496433.333,503366.667,512066.667,519766.667,525466.667,529333.333,536233.333,539750.000
Texas,Dallas,84466.667,83866.667,84866.667,87833.333,89733.333,89300.000,89066.667,90900.000,92566.667,93800.000,...,106633.333,108900.000,111533.333,113700.000,121133.333,128566.667,134600.000,140500.000,144600.000,149300.000
California,San Jose,374266.667,406566.667,431866.667,455500.000,470666.667,470200.000,456800.000,445566.667,441433.333,457766.667,...,679400.000,697033.333,714933.333,731433.333,756733.333,776400.000,789133.333,803600.000,818933.333,822200.000
Florida,Jacksonville,88600.000,89700.000,91700.000,93100.000,94400.000,95600.000,97066.667,99066.667,101233.333,103433.333,...,120766.667,121733.333,123166.667,124166.667,126900.000,130133.333,132000.000,133966.667,137200.000,139900.000
California,San Francisco,430500.000,464466.667,483533.333,493000.000,494066.667,496133.333,504100.000,513400.000,520433.333,538166.667,...,926933.333,954533.333,968766.667,1000733.333,1060800.000,1095100.000,1105466.667,1121766.667,1119266.667,1106400.000
Texas,Austin,142966.667,145266.667,149466.667,155733.333,161233.333,160733.333,159533.333,160033.333,158966.667,157500.000,...,248866.667,252800.000,258133.333,266500.000,275033.333,281633.333,287233.333,293500.000,301433.333,304450.000
Michigan,Detroit,66166.667,68300.000,66766.667,67033.333,67500.000,68366.667,69266.667,69966.667,71000.000,72333.333,...,37300.000,37100.000,37133.333,36200.000,35833.333,37066.667,38366.667,37966.667,37466.667,37900.000
Ohio,Columbus,94366.667,95833.333,97133.333,98266.667,99400.000,100266.667,101066.667,102200.000,103400.000,104800.000,...,103133.333,104500.000,106433.333,107866.667,109433.333,111566.667,115000.000,116700.000,118200.000,120100.000
Tennessee,Memphis,72500.000,73200.000,73866.667,74000.000,74166.667,74933.333,75500.000,76066.667,76333.333,76766.667,...,68100.000,69100.000,71166.667,70533.333,68700.000,68666.667,69533.333,70900.000,74166.667,75900.000
North Carolina,Charlotte,126933.333,128366.667,130200.000,131566.667,132933.333,133200.000,132800.000,133100.000,134366.667,135366.667,...,149466.667,150633.333,152733.333,155166.667,157900.000,160166.667,162866.667,166466.667,169433.333,172400.000
Texas,El Paso,76266.667,76866.667,76733.333,77300.000,78233.333,78300.000,77433.333,76800.000,76600.000,76400.000,...,111800.000,111733.333,111766.667,111500.000,111300.000,111066.667,110266.667,110666.667,111466.667,112200.000
Massachusetts,Boston,206933.333,219166.667,233100.000,242500.000,249600.000,257066.667,266933.333,274966.667,282500.000,289300.000,...,426666.667,431433.333,440733.333,448500.000,455366.667,463966.667,471633.333,482600.000,490366.667,501700.000
Washington,Seattle,248600.000,255600.000,262533.333,267400.000,271000.000,272433.333,274166.667,278166.667,280500.000,284600.000,...,441800.000,451500.000,459166.667,467933.333,493366.667,514266.667,533466.667,551733.333,575533.333,589700.000
Maryland,Baltimore,59666.667,59500.000,58833.333,59500.000,59566.667,60133.333,62100.000,63400.000,63666.667,64900.000,...,109233.333,109533.333,107366.667,108066.667,111433.333,113966.667,113900.000,114666.667,114733.333,115150.000
Colorado,Denver,162233.333,167833.333,174333.333,180333.333,186500.000,192533.333,196400.000,199100.000,201233.333,202433.333,...,270866.667,277500.000,287233.333,297633.333,310366.667,320500.000,330100.000,335566.667,342766.667,351550.000
District of Columbia,Washington,137766.667,144200.000,148700.000,147700.000,149766.667,155133.333,164633.333,172533.333,180500.000,193300.000,...,446933.333,453000.000,460300.000,466166.667,481066.667,493400.000,500900.000,504100.000,505800.000,516250.000
Tennessee,Nashville,113833.333,115266.667,115866.667,116933.333,118033.333,119166.667,120100.000,120800.000,121566.667,122633.333,...,160700.000,162300.000,166900.000,171466.667,176266.667,181800.000,189200.000,195066.667,200366.667,206100.000
Wisconsin,Milwaukee,78033.333,79066.667,81033.333,82333.333,84033.333,85566.667,87066.667,88400.000,89533.333,91366.667,...,92166.667,92166.667,91966.667,93333.333,94100.000,94133.333,94566.667,94666.667,96366.667,98850.000
Arizona,Tucson,101833.333,102966.667,104466.667,105666.667,107200.000,108766.667,110566.667,112800.000,115000.000,117200.000,...,142466.667,143433.333,144233.333,144166.667,145133.333,146600.000,148166.667,149533.333,151166.667,152700.000
Oregon,Portland,152800.000,154766.667,156566.667,157466.667,159900.000,161800.000,164266.667,167766.667,170766.667,174133.333,...,282233.333,287266.667,295533.333,301933.333,311900.000,325733.333,343066.667,356000.000,369800.000,387050.000
Oklahoma,Oklahoma City,76433.333,77500.000,78566.667,79166.667,79833.333,80400.000,81133.333,81733.333,82600.000,83433.333,...,118033.333,118966.667,120100.000,120800.000,122366.667,124700.000,127100.000,127900.000,129300.000,130300.000
Nebraska,Omaha,112800.000,114100.000,116733.333,118900.000,120866.667,119766.667,117866.667,117400.000,118066.667,117633.333,...,130100.000,130300.000,132500.000,133066.667,134466.667,136733.333,140066.667,141633.333,142666.667,143450.000
New Mexico,Albuquerque,125866.667,126700.000,126433.333,126733.333,127100.000,127733.333,128566.667,129900.000,131066.667,132100.000,...,163266.667,164000.000,164800.000,165166.667,165900.000,166533.333,167333.333,169100.000,170633.333,171900.000
California,Fresno,94100.000,95266.667,96466.667,98233.333,100566.667,103566.667,107233.333,110300.000,114033.333,118533.333,...,169633.333,173600.000,178133.333,180466.667,182033.333,185700.000,187466.667,189033.333,192733.333,196450.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Texas,Granite Shoals,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,116966.667,117533.333,117533.333,117166.667,119100.000,121600.000,128000.000,133766.667,140066.667,146450.000
Maryland,Piney Point,155666.667,155166.667,158466.667,163700.000,163400.000,164833.333,164700.000,167900.000,178266.667,181200.000,...,296400.000,309000.000,309233.333,309566.667,301700.000,305233.333,309966.667,319500.000,324166.667,324600.000
Wisconsin,Maribel,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,130600.000,128966.667,129633.333,131266.667,130133.333,129733.333,129300.000,127833.333,129266.667,134200.000
Idaho,Middleton,106066.667,104333.333,101900.000,104166.667,106166.667,108366.667,111033.333,111233.333,114100.000,114166.667,...,144366.667,145700.000,146233.333,146166.667,147733.333,148200.000,151133.333,153900.000,157166.667,160750.000
Colorado,Bennett,132900.000,135833.333,139800.000,144666.667,148300.000,152100.000,154233.333,156200.000,158733.333,160633.333,...,151466.667,162066.667,171400.000,178033.333,184433.333,191666.667,195800.000,199766.667,207466.667,212600.000
New Hampshire,East Hampstead,161833.333,169100.000,173966.667,180500.000,190900.000,195066.667,199266.667,207400.000,212300.000,212233.333,...,249500.000,252100.000,255733.333,258733.333,261366.667,261600.000,268800.000,272533.333,277800.000,282450.000
Missouri,Garden City,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,105500.000,104300.000,104766.667,106033.333,96066.667,99300.000,103433.333,106266.667,111666.667,113600.000
Arkansas,Mountainburg,57166.667,64333.333,67833.333,69000.000,68666.667,63866.667,63766.667,65466.667,65333.333,66000.000,...,81600.000,85066.667,88466.667,89033.333,85566.667,83700.000,90433.333,98333.333,101900.000,103400.000
Wisconsin,Oostburg,107266.667,108100.000,112433.333,115500.000,119100.000,120433.333,120366.667,119633.333,119866.667,118566.667,...,129566.667,127933.333,127433.333,127066.667,127400.000,130333.333,132033.333,132766.667,134100.000,136350.000
California,Twin Peaks,97366.667,100166.667,101333.333,101700.000,104000.000,107666.667,109833.333,111133.333,113200.000,116600.000,...,150100.000,147533.333,146066.667,143500.000,152300.000,155266.667,159166.667,164166.667,167966.667,173500.000
New York,Upper Brookville,1230966.667,1230966.667,1237700.000,1261566.667,1295166.667,1340033.333,1403666.667,1481933.333,1536166.667,1562033.333,...,1780633.333,1749233.333,1729466.667,1749866.667,1789600.000,1777266.667,1834366.667,1904500.000,1944066.667,1968800.000
Hawaii,Volcano,98700.000,105366.667,114666.667,124766.667,118133.333,119400.000,123266.667,121166.667,123300.000,116900.000,...,206466.667,227633.333,233200.000,234633.333,232366.667,224966.667,232433.333,242066.667,248966.667,247850.000
South Carolina,Wedgefield,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,74366.667,70266.667,72066.667,75700.000,72066.667,70333.333,69033.333,68866.667,74266.667,80700.000
Michigan,Williamston,159166.667,161300.000,164300.000,166200.000,166433.333,168633.333,171666.667,175033.333,178666.667,179333.333,...,165700.000,168933.333,170866.667,174433.333,175866.667,179466.667,182300.000,181466.667,182400.000,183000.000
Arkansas,Decatur,63600.000,64400.000,65666.667,66733.333,67200.000,67700.000,66500.000,65400.000,64600.000,64900.000,...,89666.667,92566.667,94700.000,93500.000,94900.000,95433.333,97000.000,96500.000,96633.333,96850.000
Tennessee,Briceville,40000.000,41733.333,43666.667,44900.000,44800.000,45300.000,44633.333,43700.000,44466.667,43400.000,...,56233.333,54233.333,52600.000,49633.333,45900.000,47933.333,43600.000,40800.000,41800.000,40850.000
Indiana,Edgewood,91700.000,91866.667,92933.333,94900.000,98933.333,100066.667,100833.333,101000.000,102166.667,101766.667,...,92133.333,94066.667,94666.667,95866.667,94333.333,96633.333,99966.667,99433.333,99966.667,100950.000
Tennessee,Palmyra,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,122766.667,126933.333,126233.333,122300.000,120466.667,119800.000,125800.000,127666.667,132866.667,137750.000
Maryland,Saint Inigoes,148066.667,147600.000,157233.333,163366.667,164233.333,168200.000,166500.000,165333.333,167300.000,168800.000,...,282233.333,288433.333,286966.667,284700.000,280766.667,277833.333,276833.333,279333.333,282633.333,281400.000
Indiana,Marysville,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,116600.000,115100.000,116500.000,111866.667,111800.000,115666.667,120166.667,128233.333,123233.333,124200.000
California,Forest Falls,113533.333,114400.000,114166.667,111133.333,113433.333,113000.000,113033.333,115166.667,118700.000,125066.667,...,165366.667,167500.000,177100.000,176533.333,181800.000,191166.667,198733.333,188633.333,189866.667,186650.000
Missouri,Bois D Arc,107800.000,106966.667,107100.000,108100.000,110700.000,113666.667,112633.333,112733.333,113066.667,115400.000,...,137566.667,137566.667,140400.000,145033.333,147566.667,146300.000,149433.333,146866.667,143766.667,144000.000
Virginia,Henrico,128566.667,130766.667,132266.667,133266.667,135233.333,136733.333,138600.000,141333.333,143533.333,146133.333,...,201633.333,204000.000,205900.000,206566.667,210433.333,212100.000,213966.667,216033.333,216200.000,220150.000
New Jersey,Diamond Beach,173966.667,183100.000,188966.667,193133.333,194400.000,210266.667,230266.667,248666.667,259933.333,265633.333,...,381800.000,387866.667,387666.667,393166.667,398000.000,399233.333,400433.333,404533.333,403900.000,399000.000
Tennessee,Gruetli Laager,35400.000,35466.667,36666.667,37300.000,37733.333,37900.000,39366.667,40400.000,41566.667,41633.333,...,55566.667,56366.667,57133.333,58900.000,65366.667,69500.000,71700.000,75333.333,76466.667,77500.000
Wisconsin,Town of Wrightstown,101766.667,105400.000,111366.667,114866.667,125966.667,129900.000,129900.000,129433.333,131900.000,134200.000,...,144866.667,146866.667,149233.333,148666.667,149333.333,149866.667,149933.333,149833.333,151266.667,155000.000
New York,Urbana,79200.000,81666.667,91700.000,98366.667,94866.667,98533.333,102966.667,98033.333,93966.667,94600.000,...,132133.333,137033.333,140066.667,141700.000,137866.667,136466.667,136166.667,138966.667,144200.000,143000.000
Wisconsin,New Denmark,114566.667,119266.667,126066.667,131966.667,143800.000,146966.667,148366.667,149166.667,153133.333,156733.333,...,174566.667,181166.667,186166.667,187600.000,188666.667,188433.333,188933.333,191066.667,192833.333,197600.000
California,Angels,151000.000,155900.000,158100.000,167466.667,176833.333,183766.667,190233.333,184566.667,184033.333,186133.333,...,244466.667,254066.667,259933.333,260100.000,250633.333,263500.000,279500.000,276533.333,271600.000,269950.000
Wisconsin,Holland,151033.333,150500.000,153233.333,155833.333,161866.667,165733.333,168033.333,167400.000,165766.667,161966.667,...,201266.667,201566.667,201266.667,206000.000,207600.000,212866.667,217833.333,221966.667,228033.333,234950.000

In [211]:
# price_ratio = qtr_before recession_start / recession_bottom
housing_data_to_quarters_copy = housing_data_to_quarters.copy()
housing_data_to_quarters_copy['Price_ratio'] = housing_data_to_quarters_copy[qtr_before_recession].div(housing_data_to_quarters_copy[recession_bottom], axis = 0)
housing_data_to_quarters_copy['Price_ratio'].head()

State         RegionName
New York      New York       1.082
California    Los Angeles    1.213
Illinois      Chicago        1.083
Pennsylvania  Philadelphia   1.017
Arizona       Phoenix        1.220
Name: Price_ratio, dtype: float64

In [212]:
# divide the dataframe to two groups: university and non-university towns
university_towns_list = university_towns.to_records(index = False).tolist()
university_towns_grp = housing_data_to_quarters_copy.loc[housing_data_to_quarters_copy.index.isin(university_towns_list)]
non_university_towns_grp = housing_data_to_quarters_copy.loc[-housing_data_to_quarters_copy.index.isin(university_towns_list)]

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:4: DeprecationWarning: numpy boolean negative, the `-` operator, is deprecated, use the `~` operator or the logical_not function instead.

In [213]:
# calculate the t-test for 2 independent samples assuming equal variances in samples
ttest_result = ttest_ind(university_towns_grp['Price_ratio'], non_university_towns_grp['Price_ratio'], nan_policy='omit')
print('T-test statistic:', ttest_result[0])
print('T-test p-value:', ttest_result[1])

T-test statistic: -2.99803266418
T-test p-value: 0.00272406370475

In [214]:
# prepare the output - 1)different
def ttest_different():
    
    if ttest_result[1] < 0.01:
        return True
    else:
        return False
    
# ttest_different()
ttest_different = ttest_different()

In [215]:
# prepare the output - 2)p-value
def ttest_pvalue():
    return ttest_result[1]

# ttest_pvalue() 
ttest_pvalue = ttest_pvalue()

In [216]:
# prepare the output - 3)better
def ttest_better():
    
    if university_towns_grp['Price_ratio'].mean() <= non_university_towns_grp['Price_ratio'].mean():
        return 'university town'
    else:
        return 'non-university town'
    
# ttest_better()
ttest_better = ttest_better()

In [217]:
# university_towns_grp['Price_ratio'].mean() # 1.0545645283851421
# non_university_towns_grp['Price_ratio'].mean() #1.0751962209307955

In [220]:
ttest_tuple = ()

def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return ttest_tuple + (ttest_different, ttest_pvalue, ttest_better)

# run_ttest() # (True, 0.0027240637047531249, 'university town')
# type(run_ttest()) # tuple

tuple