In [78]:
import glob
import json

path = 'd:/#projekty#/GEO/externe_data/Telekom/distances/walk'
files = [f for f in glob.glob(path + "**/*.geojson", recursive=True)]

final_data_lst = list()

for f in files:
    data_raw = json.load(open(f, 'r'))
    result = {
                'lon': data_raw['features'][-1]['properties']['center'][0],
                'lat': data_raw['features'][-1]['properties']['center'][1],
                'area': data_raw['features'][-1]['properties']['area']
            }
    final_data_lst.append(result)

final_data_lst
pd.DataFrame(final_data_lst).head()

         area        lat        lon
0  1678212.92  48.718773  18.257780
1  1616077.26  48.126694  17.129427
2  1910151.36  48.588867  17.834599
3  1585609.64  49.058505  20.299967
4  1530469.51  49.058180  20.299597